# <font color="purple"> Segunda Entrega </font>
## <font color=purple> Ejercicio 10 </font>

#### En primer lugar, se importa el módulo *os* y de *functools* la función *reduce*, la cual se utilizará más adelante.

In [1]:
import os
from functools import reduce

#### Luego, se abren en modo lectura los archivos con los se va a trabajar. Primero se obtiene el directorio actual y luego se completa con la ruta correspondiente a los distintos archivos.

In [2]:
ruta = os.getcwd()
file_nombres_1 = open(os.path.join(ruta,"archivos", "nombres_1.txt"),'r')
file_eval1 = open(os.path.join(ruta,"archivos", "eval1.txt"),'r')
file_eval2 = open(os.path.join(ruta,"archivos", "eval2.txt"),'r')

####  Los datos se van leyendo por línea y son convertidos a listas, una por cada archivo. <br> Los datos de los archivos con notas son convertidos a enteros para luego poder sumarlos. <br>Además, se remueven de los string los caracteres " , \n ' ".

In [3]:
notas_1 = [int(x.strip(" ,\n'")) for x in file_eval1.readlines()]
notas_2 = [int(x.strip(" ,\n'")) for x in file_eval2.readlines()]
nombres_1 = [x.strip(" ,\n'") for x in file_nombres_1.readlines()]

#### Una vez obtenidas las listas con los datos, se cierran los archivos.

In [4]:
file_nombres_1.close()
file_eval1.close()
file_eval2.close()

#### Al haber nombres de estudiantes repetidos, se agrega un número al nombre original para distinguirlos.

In [5]:
nombres = []
for i in range(len(nombres_1)):
    nombres.append(str(i+1) + " " + nombres_1[i])

#### Se obtiene una lista con la suma de las notas para cada estudiante.

In [6]:
suma = []
for i in range(len(notas_1)):
    suma.append(notas_1[i]+notas_2[i])

#### <div class="alert alert-success">Se crea diccionario donde la clave es el nombre del estudiante y el valor es la suma de sus notas.<div/>

In [7]:
D = dict([(nombres[x],suma[x]) for x in range(len(nombres))])
D

{'1 Agustin': 111,
 '2 Alan': 155,
 '3 Andres': 100,
 '4 Ariadna': 108,
 '5 Bautista': 99,
 '6 CAROLINA': 134,
 '7 CESAR': 78,
 '8 David': 121,
 '9 Diego': 33,
 '10 Dolores': 53,
 '11 DYLAN': 74,
 '12 ELIANA': 13,
 '13 Emanuel': 48,
 '14 Fabian': 101,
 '15 Facundo': 106,
 '16 Facundo': 128,
 '17 FEDERICO': 97,
 '18 FEDERICO': 106,
 '19 GONZALO': 76,
 '20 Gregorio': 90,
 '21 Ignacio': 21,
 '22 Jonathan': 173,
 '23 Jonathan': 62,
 '24 Jorge': 79,
 '25 JOSE': 100,
 '26 JUAN': 68,
 '27 Juan': 142,
 '28 Juan': 112,
 '29 Julian': 87,
 '30 Julieta': 146,
 '31 LAUTARO': 148,
 '32 Leonel': 55,
 '33 LUIS': 140,
 '34 Luis': 109,
 '35 Marcos': 103,
 '36 Maria': 110,
 '37 MATEO': 137,
 '38 Matias': 114,
 '39 Nicolas': 65,
 '40 NICOLAS': 22,
 '41 Noelia': 105,
 '42 Pablo': 99,
 '43 Priscila': 24,
 '44 TOMAS': 139,
 '45 Tomas': 126,
 '46 Ulises': 120,
 '47 Yanina': 84}

#### La función *reduce*  reduce los datos de un iterable a un sólo valor. En este caso sumará las notas de los estudiantes.
#### <div class="alert alert-success">El resultado se divide por la cantidad de notas para obtener el promedio.<div/>

In [8]:
promedio = reduce((lambda x, y: x + y), D.values()) / (2*len(D.values()))
promedio

48.09574468085106

#### <div class="alert alert-success">Finalmente, se informan los estudiantes que obtuvieron menos del promedio.<div/>

In [9]:
for x in D.keys():
    if D[x]/2 < promedio:
        print(x)

7 CESAR
9 Diego
10 Dolores
11 DYLAN
12 ELIANA
13 Emanuel
19 GONZALO
20 Gregorio
21 Ignacio
23 Jonathan
24 Jorge
26 JUAN
29 Julian
32 Leonel
39 Nicolas
40 NICOLAS
43 Priscila
47 Yanina